button {
   background: url(https://i.imgur.com/Rxx8T6H.png);
    width: 38px;
    height: 38px;
    background-size: cover;
    border: none;
    background-repeat: no-repeat;
    border: black;
    position: absolute;
    top: 1.7%;
    margin-left: 270px;
    opacity: 20%;
    transition: transform 0.3s;
}

button:active {
    transform: scale(1.3);
  }

